.background {
  background-image: url("/Users/zacharypalmquist/turing/2module/prework/static_challenges/images/1.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
}

.join_img {
  width: 30%;
  border: 10px;
  border-color: gold;
}

h1 {
  color: white;
}

h2 {
  color: white;
}

h3 {
  color: white;
}

h4 {
  color: white;
}

h5 {
  color: white;
}

h6 {
  color: white;
}

.subheader {

}

.right_side {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 50%;
}

.background {
  background-color: black;
  margin: 0;
}
